{% extends 'geral/base.html'%}
{% block conteudo %}
<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">Emitir Nota Fiscal</h3>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                NFe
            </div>
            <div class="card-body">

                <div class="card-body-form">
                    <div class="row form-group">
                        
                        <div class="col col-md-2"><label>NFe:</label><input type="text" placeholder="" class="form-control"></div>
                    
                        <div class="col col-md-5"><label>Natureza da operação: </label>
                            <select name="select" id="select" class="form-control">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card-body-form">
                    <div class="row form-group">
                        <div class="col col-md-3"><label>Tipo de operação: </label>
                            <select name="select" id="select" class="form-control">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>

                        <div class="col col-md-3"><label>Finalidade emissão: </label>
                            <select name="select" id="select" class="form-control">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>

                        <div class="col col-md-3"><label>Forma de pagamento: </label>
                            <select name="select" id="select" class="form-control">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>

                        <div class="col col-md-3"><label>Presença do comprador: </label>
                            <select name="select" id="select" class="form-control">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body-form">
                    <div class="row form-group">
                        <div class="col col-md-3"><label>Data Emissão:</label><input type="text" placeholder="" class="form-control"></div>
                        <div class="col col-md-3"><label>Hora Emissão:</label><input type="text" placeholder="" class="form-control"></div>
                        <div class="col col-md-3"><label>Data saída: </label><input type="text" placeholder="" class="form-control"></div>
                        <div class="col col-md-3"><label>Hora saída: </label><input type="text" placeholder="" class="form-control"></div>
                    </div>
                </div>


            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                Destinatário
            </div>
            <div class="card-body">
                <div class="card-body-form">
                    <div class="row form-group">
                        <div class="col col-md-2"><label>Código:</label><input type="text" placeholder="" class="form-control"></div>
                        <div class="col col-md-2"><label>CPF/CNPJ:</label><input type="text" placeholder="" class="form-control"></div>
                        <div class="col col-md-8"><label>Razão Social/Nome: </label><input type="text" placeholder="" class="form-control"></div>
                    </div>
                </div>
                <div class="card-body-form">
                    <div class="row form-group">
                        <div class="col col-md-2"><label>CEP:</label><input type="text" placeholder="" class="form-control"></div>
                        <div class="col col-md-5"><label>Logradouro:</label><input type="text" placeholder="" class="form-control"></div>
                        <div class="col col-md-1"><label>Número: </label><input type="text" placeholder="" class="form-control"></div>
                        <div class="col col-md-4"><label>Complemento: </label><input type="text" placeholder="" class="form-control"></div>
                    </div>
                </div>

                <div class="card-body-form">
                    <div class="row form-group">
                        <div class="col col-md-3"><label>Bairro:</label><input type="text" placeholder="" class="form-control"></div>
                        <div class="col col-md-7"><label>Cidade:</label><input type="text" placeholder="" class="form-control"></div>
                        <div class="col col-md-2"><label>UF: </label><input type="text" placeholder="" class="form-control"></div>
                    </div>
                </div>

                <div class="card-body-form">
                    <div class="row form-group">
                        <div class="col col-md-8"><label>Email: </label><input type="text" placeholder="" class="form-control"></div>
                        <div class="col col-md-4"><label>Telefone: </label><input type="text" placeholder="" class="form-control"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <input class="btn btn-success" type="submit" value="Salvar">
                <input class="btn btn-info" type="button" value="Imprimir">
            </div>
        </div>

    </div>
    
</main>
{% endblock %}